//Styling for tablets
@media (max-width: 900px) {
  body {
    overflow-x: hidden;
    background: url('../images/bg-mobile.svg') no-repeat;
    background-size: 1000px;
    background-color: $violet;
  }

  //Logo styling for tablets
  .logo {
    img {
      margin: 70px 0 50px 100px;
    }
  }

  .illustrations-and-txt {
    grid-template-columns: 1fr;
    grid-gap: 0;
    margin: auto;

    //Illustration Image Styling for tablets
    .illustration {
      margin: 40px 0 0 150px;
      img {
        max-width: 80%;
        height: auto;
      }
    }

    //Text along Illustration Image styling for tablets
    .txt {
      text-align: center;
      width: 100%;
      margin-bottom: 80px;
      p,
      h1 {
        padding: 0 100px;
        line-height: 1.8;
      }
    }
  }

  //Footer styling for tablets
  .main-footer {
    position: static;
  }
}

//Mobile devices
@media (max-width: 650px) {
  body {
    background-size: 600px;
  }

  //Logo styling for mobile devices
  .logo {
    img {
      margin: 70px 0 50px 50px;
    }
  }
  .illustrations-and-txt {
    //Illustration image styling for mobile devices
    .illustration {
      margin: 40px 0 0 40px;
      img {
        max-width: 90%;
        height: auto;
      }
    }

    ////Text along Illustration image styling for mobile devices
    .txt {
      text-align: center;
      width: 100%;
      margin-left: 8px;
      p,
      h1 {
        padding: 0 10px;
      }
    }
  }

  //Footer styling for mobile devices
  .main-footer {
    flex-direction: column;
    padding: 10px;
  }
}
